In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("Ecommerce.csv")
df.head()

,Order_ID,Order_Date,Customer_ID,Customer_Name,Gender,Age,City,State,Product_Category,Product_Name,Quantity,Price_Per_Unit,Total_Amount,Payment_Mode,Order_Status
0,1127,13-02-2025,C489,Angel Kirby,Male,54,Kanpur,Uttar Pradesh,Grocery,Sugar 1kg,3,452,1356,COD,Delivered
1,1162,14-02-2025,C314,Virginia Kirk,Female,37,Jaipur,Rajasthan,Electronics,Power Bank,1,725,725,COD,Returned
2,1089,17-02-2025,C296,James Gonzalez,Male,26,Vadodara,Gujarat,Electronics,Headphones,4,2309,9236,COD,Returned
3,1148,17-02-2025,C135,Danielle Pugh,Male,27,Kanpur,Uttar Pradesh,Grocery,Basmati Rice 5kg,1,1134,1134,Card,Cancelled
4,1032,24-02-2025,C462,Suzanne Duran,Female,55,Lucknow,Uttar Pradesh,Electronics,Headphones,5,4151,20755,Card,Delivered

In [4]:
df.isnull().sum()

Order_ID            0
Order_Date          0
Customer_ID         0
Customer_Name       0
Gender              0
Age                 0
City                0
State               0
Product_Category    0
Product_Name        0
Quantity            0
Price_Per_Unit      0
Total_Amount        0
Payment_Mode        0
Order_Status        0
dtype: int64

In [ ]:
# This is Total Sales

In [6]:
total_sales = df['Price_Per_Unit'].sum()
print("Total Sales:", total_sales)

Total Sales: 504343

In [9]:
total_revenue = df['Total_Amount'].sum()
print("Total_Revenue:", total_revenue)

Total_Revenue: 1486514

In [11]:
df.groupby('Product_Category')['Price_Per_Unit'].sum()

Product_Category
Clothing       159870
Electronics    201055
Grocery        143418
Name: Price_Per_Unit, dtype: int64

In [12]:
df.to_csv('Ecommerce.csv',index=False)